<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
      <add name="SkusDbContext" connectionString="Data Source=(local);Initial Catalog=Skus;Persist Security Info=True;User ID=automatedtest;Password=automatedtest;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>